*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: consolas;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #ccc;
}

.page{
	position: relative;
	width: 450px;
	height: 600px;
	padding: 30px;
	background-color: #fff;
	border-left: 30px solid #00c3d1;
	transform: rotate(-45deg) skewX(10deg) scale(.8);
	box-shadow: -50px 50px 50px rgba(0,0,0,.5);
	transition: .5s;
}

.page h1{
	text-align: center;
	font-size: 30px;
	color: deeppink;
	margin-bottom: 20px;
}

.page p{
	text-align: justify;
}
.page:before{
	position: absolute;
	content: '';
	width: 30px;
	height: 100%;
	background-color: rgb(0,124,128);
	top: 0;
	left: 0;
	transform: skewY(-45deg) translate(-57px, -43px);
	transition: .5s;

}

.page:after{
	content: '';
	position: absolute;
	width: 106%;
	height: 30px;
	background-color: #ccc;
	bottom: 0;
	left: 0;
	transform: skewX(-45deg) translate(-11px,30px);
	transition: .5s;

}

.page:hover{  
	transform:rotate(-45deg) skewX(10deg) scale(.8) translate(40px,-40px);
	box-shadow: -100px 100px 70px rgba(0,0,0,.6);

}